.ReactInputVerificationCode-container {
  display: flex;
  gap: 0.5rem;
}

.ReactInputVerificationCode-item {
  width: 4rem;
  height: 4rem;
  padding: 0;
  border-radius: 4px;
  font-size: 1.2rem;
  text-align: center;
  border: 0;
  color: #555;
  box-shadow: 0 0 0 1px #ccc;
  outline: 0;
  transition: box-shadow 0.2s ease-out;
}

.ReactInputVerificationCode-item:focus {
  box-shadow: 0 0 0 2px #333;
}
